<div class="col-md-12 row image block bg-image " style="padding-right: 93px;">
    <div class="col cell"><img [hidden]="hide[1]"  [src]="character"><img  class="spell" [hidden]="hideBlast[1]"  [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[2]"  [src]="character"><img  class="spell" [hidden]="hideBlast[2]"  [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[3]"  [src]="character"><img  class="spell" [hidden]="hideBlast[3]"  [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[4]"  [src]="character"><img  class="spell" [hidden]="hideBlast[4]"  [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[5]"  [src]="character"><img  class="spell" [hidden]="hideBlast[5]"  [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[6]"  [src]="character"><img  class="spell" [hidden]="hideBlast[6]"  [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[7]"  [src]="character"><img  class="spell" [hidden]="hideBlast[7]"  [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[8]"  [src]="character"><img  class="spell" [hidden]="hideBlast[8]"  [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[9]"  [src]="character"><img  class="spell" [hidden]="hideBlast[9]"  [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[10]" [src]="character"><img class="spell" [hidden]="hideBlast[10]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[11]" [src]="character"><img class="spell" [hidden]="hideBlast[11]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[12]" [src]="character"><img class="spell" [hidden]="hideBlast[12]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[13]" [src]="character"><img class="spell" [hidden]="hideBlast[13]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[14]" [src]="character"><img class="spell" [hidden]="hideBlast[14]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[15]" [src]="character"><img class="spell" [hidden]="hideBlast[15]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[16]" [src]="character"><img class="spell" [hidden]="hideBlast[16]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[17]" [src]="character"><img class="spell" [hidden]="hideBlast[17]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[18]" [src]="character"><img class="spell" [hidden]="hideBlast[18]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[19]" [src]="character"><img class="spell" [hidden]="hideBlast[19]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[20]" [src]="character"><img class="spell" [hidden]="hideBlast[20]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[21]" [src]="character"><img class="spell" [hidden]="hideBlast[21]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[22]" [src]="character"><img class="spell" [hidden]="hideBlast[22]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[23]" [src]="character"><img class="spell" [hidden]="hideBlast[23]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[24]" [src]="character"><img class="spell" [hidden]="hideBlast[24]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[25]" [src]="character"><img class="spell" [hidden]="hideBlast[25]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[26]" [src]="character"><img class="spell" [hidden]="hideBlast[26]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[27]" [src]="character"><img class="spell" [hidden]="hideBlast[27]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[28]" [src]="character"><img class="spell" [hidden]="hideBlast[28]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[29]" [src]="character"><img class="spell" [hidden]="hideBlast[29]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[30]" [src]="character"><img class="spell" [hidden]="hideBlast[30]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[31]" [src]="character"><img class="spell" [hidden]="hideBlast[31]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[32]" [src]="character"><img class="spell" [hidden]="hideBlast[32]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[33]" [src]="character"><img class="spell" [hidden]="hideBlast[33]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[34]" [src]="character"><img class="spell" [hidden]="hideBlast[34]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[35]" [src]="character"><img class="spell" [hidden]="hideBlast[35]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[36]" [src]="character"><img class="spell" [hidden]="hideBlast[36]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[37]" [src]="character"><img class="spell" [hidden]="hideBlast[37]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[38]" [src]="character"><img class="spell" [hidden]="hideBlast[38]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[39]" [src]="character"><img class="spell" [hidden]="hideBlast[39]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[40]" [src]="character"><img class="spell" [hidden]="hideBlast[40]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[41]" [src]="character"><img class="spell" [hidden]="hideBlast[41]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[42]" [src]="character"><img class="spell" [hidden]="hideBlast[42]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[43]" [src]="character"><img class="spell" [hidden]="hideBlast[43]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[44]" [src]="character"><img class="spell" [hidden]="hideBlast[44]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[45]" [src]="character"><img class="spell" [hidden]="hideBlast[45]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[46]" [src]="character"><img class="spell" [hidden]="hideBlast[46]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[47]" [src]="character"><img class="spell" [hidden]="hideBlast[47]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[48]" [src]="character"><img class="spell" [hidden]="hideBlast[48]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[49]" [src]="character"><img class="spell" [hidden]="hideBlast[49]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[50]" [src]="character"><img class="spell" [hidden]="hideBlast[50]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[51]" [src]="character"><img class="spell" [hidden]="hideBlast[51]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[52]" [src]="character"><img class="spell" [hidden]="hideBlast[52]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[53]" [src]="character"><img class="spell" [hidden]="hideBlast[53]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[54]" [src]="character"><img class="spell" [hidden]="hideBlast[54]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[55]" [src]="character"><img class="spell" [hidden]="hideBlast[55]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[56]" [src]="character"><img class="spell" [hidden]="hideBlast[56]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[57]" [src]="character"><img class="spell" [hidden]="hideBlast[57]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[58]" [src]="character"><img class="spell" [hidden]="hideBlast[58]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[59]" [src]="character"><img class="spell" [hidden]="hideBlast[59]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[60]" [src]="character"><img class="spell" [hidden]="hideBlast[60]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[61]" [src]="character"><img class="spell" [hidden]="hideBlast[61]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[62]" [src]="character"><img class="spell" [hidden]="hideBlast[62]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[63]" [src]="character"><img class="spell" [hidden]="hideBlast[63]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[64]" [src]="character"><img class="spell" [hidden]="hideBlast[64]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[65]" [src]="character"><img class="spell" [hidden]="hideBlast[65]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[66]" [src]="character"><img class="spell" [hidden]="hideBlast[66]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[67]" [src]="character"><img class="spell" [hidden]="hideBlast[67]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[68]" [src]="character"><img class="spell" [hidden]="hideBlast[68]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[69]" [src]="character"><img class="spell" [hidden]="hideBlast[69]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[70]" [src]="character"><img class="spell" [hidden]="hideBlast[70]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[71]" [src]="character"><img class="spell" [hidden]="hideBlast[71]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[72]" [src]="character"><img class="spell" [hidden]="hideBlast[72]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[73]" [src]="character"><img class="spell" [hidden]="hideBlast[73]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[74]" [src]="character"><img class="spell" [hidden]="hideBlast[74]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[75]" [src]="character"><img class="spell" [hidden]="hideBlast[75]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[76]" [src]="character"><img class="spell" [hidden]="hideBlast[76]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[77]" [src]="character"><img class="spell" [hidden]="hideBlast[77]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[78]" [src]="character"><img class="spell" [hidden]="hideBlast[78]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[79]" [src]="character"><img class="spell" [hidden]="hideBlast[79]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[80]" [src]="character"><img class="spell" [hidden]="hideBlast[80]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[81]" [src]="character"><img class="spell" [hidden]="hideBlast[81]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[82]" [src]="character"><img class="spell" [hidden]="hideBlast[82]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[83]" [src]="character"><img class="spell" [hidden]="hideBlast[83]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[84]" [src]="character"><img class="spell" [hidden]="hideBlast[84]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[85]" [src]="character"><img class="spell" [hidden]="hideBlast[85]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[86]" [src]="character"><img class="spell" [hidden]="hideBlast[86]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[87]" [src]="character"><img class="spell" [hidden]="hideBlast[87]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[88]" [src]="character"><img class="spell" [hidden]="hideBlast[88]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[89]" [src]="character"><img class="spell" [hidden]="hideBlast[89]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[90]" [src]="character"><img class="spell" [hidden]="hideBlast[90]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[91]" [src]="character"><img class="spell" [hidden]="hideBlast[91]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[92]" [src]="character"><img class="spell" [hidden]="hideBlast[92]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[93]" [src]="character"><img class="spell" [hidden]="hideBlast[93]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[94]" [src]="character"><img class="spell" [hidden]="hideBlast[94]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[95]" [src]="character"><img class="spell" [hidden]="hideBlast[95]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[96]" [src]="character"><img class="spell" [hidden]="hideBlast[96]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[97]" [src]="character"><img class="spell" [hidden]="hideBlast[97]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[98]" [src]="character"><img class="spell" [hidden]="hideBlast[98]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[99]" [src]="character"><img class="spell" [hidden]="hideBlast[99]" [src]="blast"></div>
    <div class="col cell"><img [hidden]="hide[100]" [src]="character"><img class="spell" [hidden]="hideBlast[100]"[src]="blast"></div>
</div>

